@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <!-- 
        Name: Het Natvarbhai Patel
        Student I'd: 0805024
        -->
    <h1 class="display-4">WELCOME TO THE KONJAC SPONGE CO®</h1>
</div>
